/* ====== Editor ====== */
.ProseMirror {
  min-height: 200px;
  cursor: text;
}

.ProseMirror-focused {
  @apply outline-none ring-0;
}

.ProseMirror p:empty::after {
  content: " ";
  display: block;
  height: 1rem;
}

/* ====== Texto común ====== */
.ProseMirror p,
.ProseMirror pre,
.ProseMirror blockquote,
.ProseMirror ul,
.ProseMirror ol {
  @apply my-3;
}
.ProseMirror > *:first-child {
  @apply mt-0;
}
.ProseMirror > *:last-child {
  @apply mb-0;
}

/* ====== Links ====== */
.ProseMirror a,
.prose a {
  @apply text-green-600 underline;
  cursor: pointer;
}
.ProseMirror a:hover,
.prose a:hover {
  @apply text-green-700;
}

/* ====== Headings ====== */
.ProseMirror h2,
.prose h2 {
  font-size: 1.5rem; /* 24px */
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

/* ====== Código ====== */
.ProseMirror pre,
.prose pre {
  @apply bg-gray-900 text-green-200 p-3 rounded-md font-mono text-sm overflow-x-auto my-2;
}
.ProseMirror code,
.prose code {
  @apply text-yellow-500 font-mono text-sm;
}

/* ====== Imágenes ====== */
.ProseMirror img,
.prose img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin: 1rem 0;
}
