pre,
code {
  background-color: #f5f2f0;
  padding: 8px;
  border-radius: 4px;
  overflow-x: auto;
  font-family: monospace;
  color: #8a1212 !important;
}

.prose pre[class*="language-javascript"] {
  background-color: #f5f2f0;
  color: #8a1212 !important;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
}

.prose p {
  margin-bottom: 1rem;
  /* separa los párrafos */
}

.prose pre {
  margin-bottom: 1rem;
}

.prose h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}
